<!DOCTYPE html>
<html lang="">

<head>
    <title>Visualize Stock Data</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #21202D;
            /* 深色背景 */
            color: #ffffff;
            /* 浅色文本 */
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            width: 80%;
            margin: 0 auto;
        }

        .chart-container {
            width: 100%;
            margin: 20px 0;
        }

        .slider {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            box-sizing: border-box;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        .button {
            background-color: #21202D;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #21202D;
        }

        canvas {
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Stock Data Visualization</h2>

        <div>
            <input type="text" id="stockCodeInput" placeholder="Enter stock code" />
            <button id="searchButton">Search</button>
        </div>

        <div id="originalCharts">
            <canvas id="avgOpenPricesChart" width="800" height="400"></canvas>
            <canvas id="avgClosePricesChart" width="800" height="400"></canvas>
            <canvas id="maxPricesChart" width="800" height="400"></canvas>
            <canvas id="minPricesChart" width="800" height="400"></canvas>
            <canvas id="totalVolumeChart" width="800" height="400"></canvas>
            <canvas id="changesChart" width="800" height="400"></canvas>
            <canvas id="avgAmplitudeChart" width="800" height="400"></canvas>
            <canvas id="avgTurnoverChart" width="800" height="400"></canvas>
        </div>

        <div id="individualStockChartContainer" class="slider" style="display:none;">
            <div class="slides">
                <div class="slide" id="individualStockChart1" style="width: 800px;height:750px;"></div>
                <div class="slide"><canvas id="individualStockChart2" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart3" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart4" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart5" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart6" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart7" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart8" width="800" height="400"></canvas></div>
                <div class="slide"><canvas id="individualStockChart9" width="800" height="400"></canvas></div>

                <div class="slide" id="individualStockChart10" style="width: 800px;height:750px;"></div>

            </div>
            <div class="buttons">
                <button class="button" id="prevButton">Prev</button>
                <button class="button" id="nextButton">Next</button>
            </div>
        </div>
    </div>

    {{ data|json_script:"stock-data" }}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const stockData = JSON.parse(document.getElementById('stock-data').textContent);

            console.log(stockData); // Debug log

            const avgOpenPricesCtx = document.getElementById('avgOpenPricesChart').getContext('2d');
            const avgClosePricesCtx = document.getElementById('avgClosePricesChart').getContext('2d');
            const maxPricesCtx = document.getElementById('maxPricesChart').getContext('2d');
            const minPricesCtx = document.getElementById('minPricesChart').getContext('2d');
            const totalVolumeCtx = document.getElementById('totalVolumeChart').getContext('2d');
            const changesCtx = document.getElementById('changesChart').getContext('2d');
            const avgAmplitudeCtx = document.getElementById('avgAmplitudeChart').getContext('2d');
            const avgTurnoverCtx = document.getElementById('avgTurnoverChart').getContext('2d');

            const individualStockCtx1 = document.getElementById('individualStockChart1');
            const individualStockCtx2 = document.getElementById('individualStockChart2').getContext('2d');
            const individualStockCtx3 = document.getElementById('individualStockChart3').getContext('2d');
            const individualStockCtx4 = document.getElementById('individualStockChart4').getContext('2d');
            const individualStockCtx5 = document.getElementById('individualStockChart5').getContext('2d');
            const individualStockCtx6 = document.getElementById('individualStockChart6').getContext('2d');
            const individualStockCtx7 = document.getElementById('individualStockChart7').getContext('2d');
            const individualStockCtx8 = document.getElementById('individualStockChart8').getContext('2d');
            const individualStockCtx9 = document.getElementById('individualStockChart9').getContext('2d');
            const individualStockCtx10 = document.getElementById('individualStockChart10');


            let individualStockCharts = [];

            function createBarChart(ctx, label, data, labels) {
                return new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: label,
                            data: data,
                            backgroundColor: 'rgba(255, 192, 203, 0.2)',
                            borderColor: 'rgb(255, 0, 0)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }

            function createScatterChart(ctx, label, data, labels) {
                return new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        labels: labels, 
                        datasets: [{
                            label: label,
                            data: data.map((value, index) =>
                                ({ 
                                    x: index,
                                    y: value
                                })),
                            backgroundColor: 'rgba(255, 192, 203, 0.2)',
                            borderColor: 'rgb(255, 0, 0)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'category', 
                                ticks: {
                                    callback: function (value, index, values) {
                                        
                                        return labels[value];
                                    }
                                }
                            },
                            y: {
                                beginAtZero: true
                            },
                            pointRadius: 0.1
                        }
                    }
                });
            }

            function createLineChart(ctx, label, data, labels) {
                return new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: label,
                            data: data,
                            borderColor: 'rgb(255, 51, 51)',
                            borderWidth: 1,
                            fill: false
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        pointRadius: 0.5
                    }
                });
            }

            function detectCrossovers(sma5, sma10, sma30, labels) {
                let goldenCrosses5_10 = [];
                let deathCrosses5_10 = [];
                let goldenCrosses5_30 = [];
                let deathCrosses5_30 = [];
                let goldenCrosses10_30 = [];
                let deathCrosses10_30 = [];

                for (let i = 1; i < sma5.length; i++) {
                    
                    if (sma5[i - 1] <= sma10[i - 1] && sma5[i] > sma10[i]) {
                        goldenCrosses5_10.push([labels[i], sma5[i]]);
                    } else if (sma5[i - 1] >= sma10[i - 1] && sma5[i] < sma10[i]) {
                        deathCrosses5_10.push([labels[i], sma5[i]]);
                    }

                    
                    if (sma5[i - 1] <= sma30[i - 1] && sma5[i] > sma30[i]) {
                        goldenCrosses5_30.push([labels[i], sma5[i]]);
                    } else if (sma5[i - 1] >= sma30[i - 1] && sma5[i] < sma30[i]) {
                        deathCrosses5_30.push([labels[i], sma5[i]]);
                    }

                    
                    if (sma10[i - 1] <= sma30[i - 1] && sma10[i] > sma30[i]) {
                        goldenCrosses10_30.push([labels[i], sma10[i]]);
                    } else if (sma10[i - 1] >= sma30[i - 1] && sma10[i] < sma30[i]) {
                        deathCrosses10_30.push([labels[i], sma10[i]]);
                    }
                }

                return {
                    goldenCrosses5_10,
                    deathCrosses5_10,
                    goldenCrosses5_30,
                    deathCrosses5_30,
                    goldenCrosses10_30,
                    deathCrosses10_30
                };
            }

            function createMultLineChart(ctx, sma_5, sma_10, sma_30, labels) {
                var myChart = echarts.init(ctx);
                const crossovers = detectCrossovers(sma_5, sma_10, sma_30, labels);
                var option = {
                    xAxis: {
                        type: 'category',
                        data: labels,
                        axisLine: {
                            lineStyle: {
                                color: '#8392A5'
                            }
                        },
                        axisLabel: {
                            color: '#8392A5'
                        }
                    },
                    yAxis: {
                        scale: true,
                        boundaryGap: ['20%', '20%'],
                        axisLine: {
                            lineStyle: {
                                color: '#8392A5'
                            }
                        },
                        axisLabel: {
                            color: '#8392A5'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#2F323F'
                            }
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    legend: {
                        top: 30,
                        data: ['SMA 5', 'SMA 10', 'SMA 30'],
                        textStyle: {
                            color: '#8392A5'
                        }
                    },
                    series: [{
                            name: 'SMA 5',
                            type: 'line',
                            smooth: true,
                            data: sma_5,
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    color: '#c23531'
                                }
                            }
                        },
                        {
                            name: 'SMA 10',
                            type: 'line',
                            smooth: true,
                            data: sma_10,
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    color: '#4A90E2'
                                }
                            }
                        },
                        {
                            name: 'SMA 30',
                            type: 'line',
                            smooth: true,
                            data: sma_30,
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    color: '#F5A623'
                                }
                            }
                        },
                        {
                            name: 'Golden Cross 5-10',
                            type: 'scatter',
                            symbolSize: 10,
                            itemStyle: {
                                color: 'gold'
                            },
                            data: crossovers.goldenCrosses5_10,
                            z: 10
                        },
                        {
                            name: 'Death Cross 5-10',
                            type: 'scatter',
                            symbolSize: 10,
                            itemStyle: {
                                color: 'red'
                            },
                            data: crossovers.deathCrosses5_10,
                            z: 10
                        },
                        {
                            name: 'Golden Cross 5-30',
                            type: 'scatter',
                            symbolSize: 10,
                            itemStyle: {
                                color: 'gold'
                            },
                            data: crossovers.goldenCrosses5_30,
                            z: 10
                        },
                        {
                            name: 'Death Cross 5-30',
                            type: 'scatter',
                            symbolSize: 10,
                            itemStyle: {
                                color: 'red'
                            },
                            data: crossovers.deathCrosses5_30,
                            z: 10
                        },
                        {
                            name: 'Golden Cross 10-30',
                            type: 'scatter',
                            symbolSize: 10,
                            itemStyle: {
                                color: 'gold'
                            },
                            data: crossovers.goldenCrosses10_30,
                            z: 10
                        },
                        {
                            name: 'Death Cross 10-30',
                            type: 'scatter',
                            symbolSize: 10,
                            itemStyle: {
                                color: 'red'
                            },
                            data: crossovers.deathCrosses10_30,
                            z: 10
                        }
                    ],
                    backgroundColor: '#21202D',
                    textStyle: {
                        color: '#8392A5'
                    }
                };

                myChart.setOption(option);
                return myChart;
            }

            function createKLineChart(ctx, ochl, sma_5, sma_10, sma_30, labels) {
                var myChart = echarts.init(ctx);

                var option = {
                    xAxis: {
                        type: 'category',
                        data: labels,
                        axisLine: {
                            lineStyle: {
                                color: '#8392A5'
                            }
                        },
                        axisLabel: {
                            color: '#8392A5'
                        }
                    },
                    yAxis: {
                        scale: true,
                        boundaryGap: ['20%', '20%'],
                        axisLine: {
                            lineStyle: {
                                color: '#8392A5'
                            }
                        },
                        axisLabel: {
                            color: '#8392A5'
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#2F323F'
                            }
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    legend: {
                        top: 30,
                        data: ['K Line', 'SMA 5', 'SMA 10', 'SMA 30'],
                        textStyle: {
                            color: '#8392A5'
                        }
                    },
                    series: [{
                            name: 'K Line',
                            type: 'candlestick',
                            data: ochl.map(function (item) {
                                return [item[0], item[1], item[2], item[3]];
                            }),
                            itemStyle: {
                                normal: {
                                    color: '#00da3c', // 阳线颜色
                                    color0: '#ec0000', // 阴线颜色
                                    borderColor: '#008F28',
                                    borderColor0: '#8A0000'
                                }
                            }
                        },
                        {
                            name: 'SMA 5',
                            type: 'line',
                            smooth: true,
                            data: sma_5,
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    color: '#c23531'
                                }
                            }
                        },
                        {
                            name: 'SMA 10',
                            type: 'line',
                            smooth: true,
                            data: sma_10,
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    color: '#4A90E2'
                                }
                            }
                        },
                        {
                            name: 'SMA 30',
                            type: 'line',
                            smooth: true,
                            data: sma_30,
                            lineStyle: {
                                normal: {
                                    width: 1,
                                    color: '#F5A623'
                                }
                            }
                        }
                    ],
                    backgroundColor: '#21202D',
                    textStyle: {
                        color: '#8392A5'
                    }
                };

                myChart.setOption(option);
                return myChart;
            }


            createBarChart(avgOpenPricesCtx, 'Average Open Prices', stockData.avg_open_prices, stockData
                .stock_codes);
            createBarChart(avgClosePricesCtx, 'Average Close Prices', stockData.avg_close_prices, stockData
                .stock_codes);
            createBarChart(maxPricesCtx, 'Max Prices', stockData.max_prices, stockData.stock_codes);
            createBarChart(minPricesCtx, 'Min Prices', stockData.min_prices, stockData.stock_codes);
            createBarChart(totalVolumeCtx, 'Total Volume', stockData.total_volume, stockData.stock_codes);
            createBarChart(changesCtx, 'Changes', stockData.changes, stockData.stock_codes);
            createScatterChart(avgAmplitudeCtx, 'Average Amplitude', stockData.avg_amplitude, stockData
                .stock_codes);
            createBarChart(avgTurnoverCtx, 'Average Turnover', stockData.avg_turnover, stockData.stock_codes);

            function updateIndividualStockCharts(stockCode) {
                if (individualStockCharts.length > 0) {
                    individualStockCharts.forEach(chart => {
                        if (chart.dispose) {
                            // 适用于 ECharts 
                            chart.dispose();
                        } else if (chart.destroy) {
                            // 适用于 Chart.js 实例
                            chart.destroy();
                        }
                    });
                }
                individualStockCharts = [];

                const stock = stockData.stock_datas[stockCode];

                individualStockCharts.push(createKLineChart(individualStockCtx1, stock.ochl, stock.sma_5, stock
                    .sma_10, stock.sma_30, stock.dates));
                individualStockCharts.push(createLineChart(individualStockCtx2, 'Open Prices', stock
                    .open_prices, stock.dates));
                individualStockCharts.push(createLineChart(individualStockCtx3, 'Close Prices', stock
                    .close_prices, stock.dates));
                individualStockCharts.push(createLineChart(individualStockCtx4, 'High Prices', stock
                    .high_prices, stock.dates));
                individualStockCharts.push(createLineChart(individualStockCtx5, 'Low Prices', stock.low_prices,
                    stock.dates));
                individualStockCharts.push(createBarChart(individualStockCtx6, 'Volume', stock.volumes, stock
                    .dates));
                individualStockCharts.push(createScatterChart(individualStockCtx7, 'Changes', stock.change_rate,
                    stock.dates));
                individualStockCharts.push(createLineChart(individualStockCtx8, 'Amplitude', stock.amplitude,
                    stock.dates));

                individualStockCharts.push(createLineChart(individualStockCtx9, 'Turnover', stock.turnover,
                    stock.dates));

                individualStockCharts.push(createMultLineChart(individualStockCtx10, stock.sma_5, stock.sma_10,
                    stock.sma_30, stock.dates));
            }

            function updateOriginalCharts() {
                document.getElementById('individualStockChartContainer').style.display = 'none';
                document.getElementById('originalCharts').style.display = 'block';
            }

            document.getElementById('searchButton').addEventListener('click', () => {
                const stockCode = document.getElementById('stockCodeInput').value;
                if (stockCode in stockData.stock_datas) {
                    document.getElementById('originalCharts').style.display = 'none';
                    document.getElementById('individualStockChartContainer').style.display = 'block';
                    updateIndividualStockCharts(stockCode);
                } else {
                    alert('Invalid stock code');
                    updateOriginalCharts();
                }
            });

            let currentIndex = 0;
            const slides = document.querySelector('.slides');
            const totalSlides = slides.children.length;

            document.getElementById('prevButton').addEventListener('click', function () {
                currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
                updateSlidePosition();
            });

            document.getElementById('nextButton').addEventListener('click', function () {
                currentIndex = (currentIndex + 1) % totalSlides;
                updateSlidePosition();
            });

            function updateSlidePosition() {
                slides.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
        });
    </script>
</body>

</html>